# N7: buffer overflow in a frame fifo
# step1
# autocnt(s_axis_tlast)
# autocnt(m_axis_tlast)
autocnt \
    --valid-signal axis_fifo_inst__DOT__s_axis:9 \
    --valid-signal axis_fifo_inst__DOT__m_axis_reg:8 \
    --tag debug_display_11

# step2
# signalcat(write)
# signalcat(wr_addr_reg)

output -o bug.v
sv2v \
    --tasksupport --tasksupport-mode=ILA \
    --tasksupport-tags debug_display_11 \
    --tasksupport-ila-tcl={{ILA_OUTPUT|default("withtask.ila.tcl")}} \
    {% if LOG2_SAMPLE_DEPTH is defined %} --tasksupport-log2depth={{LOG2_SAMPLE_DEPTH}} {% endif %} \
    --arrayboundcheck
output --not-retag-synthesis -o {{SV2V_OUTPUT|default("withtask.v")}}
