# bug9: SDSPI-deadlock
# bug9_step1
# deps(o_sck, 1)
deps \
    --control --data \
    --variable "o_sck:0:0" \
    --layer 1 \
    --tag debug_display_9.1

# deps(o_sck, 2)
# bug9_step2
deps \
    --control --data \
    --variable "o_sck:0:0" \
    --layer 2 \
    --tag debug_display_9.2
output -o bug9.v
sv2v \
    --tasksupport --tasksupport-mode=ILA \
    --tasksupport-tags debug_display_9.1 \
    --tasksupport-tags debug_display_9.2 \
    --tasksupport-ila-tcl={{ILA_OUTPUT|default("withtask.ila.tcl")}} \
    {% if LOG2_SAMPLE_DEPTH is defined %} --tasksupport-log2depth={{LOG2_SAMPLE_DEPTH}} {% endif %} \
    --arrayboundcheck
output --not-retag-synthesis -o {{SV2V_OUTPUT|default("withtask.v")}}
