# bug12: FFT-BitTruncation
# manually insert display tasks (by jcma)
output -o bug12.v
sv2v \
    --tasksupport --tasksupport-mode=ILA \
    --tasksupport-tags debug_display_1\
    --tasksupport-ila-tcl={{ILA_OUTPUT|default("withtask.ila.tcl")}} \
    {% if LOG2_SAMPLE_DEPTH is defined %} --tasksupport-log2depth={{LOG2_SAMPLE_DEPTH}} {% endif %} \
    --arrayboundcheck
output --not-retag-synthesis -o {{SV2V_OUTPUT|default("withtask.v")}}
