
# bug_step1
# print ready and valid signals
deps \
  --variable "async_rst:0:0" \
  --variable "reg_axis_tvalid:0:0" \
  --variable "reg_axis_tready:0:0" \
  --variable "reg_axis_tlast:0:0" \
  --variable "UUT__DOT__full:0:0" \
  --variable "UUT__DOT__empty:0:0" \
  --variable "UUT__DOT__write:0:0" \
  --variable "UUT__DOT__read:0:0" \
  --layer 0 \
  --control --data \
  --tag debug_display_1

output -o bug.v

sv2v \
    --tasksupport --tasksupport-mode=ILA \
    --tasksupport-tags=debug_display_1 \
    --tasksupport-ila-tcl={{ILA_OUTPUT|default("withtask.ila.tcl")}} \
    {% if LOG2_SAMPLE_DEPTH is defined %} --tasksupport-log2depth={{LOG2_SAMPLE_DEPTH}} {% endif %} \
    --arrayboundcheck
output --not-retag-synthesis -o {{SV2V_OUTPUT|default("withtask.v")}}
