# bug10: SDSPI-deadlock
# print(all_output)
deps \
    --variable "o_wb_ack:0:0" \
    --variable "o_wb_stall:0:0" \
    --variable "o_wb_data:31:0" \
    --variable "o_cs_n:0:0" \
    --variable "o_sck:0:0" \
    --variable "o_mosi:0:0" \
    --variable "o_int:0:0" \
    --layer 0 \
    --tag debug_display_10

output -o bug10.v
sv2v \
    --tasksupport --tasksupport-mode=ILA \
    --tasksupport-tags debug_display_10 \
    --tasksupport-ila-tcl={{ILA_OUTPUT|default("withtask.ila.tcl")}} \
    {% if LOG2_SAMPLE_DEPTH is defined %} --tasksupport-log2depth={{LOG2_SAMPLE_DEPTH}} {% endif %} \
    --arrayboundcheck
output --not-retag-synthesis -o {{SV2V_OUTPUT|default("withtask.v")}}
