
# bug_step1
deps \
  --variable "output_axis_tlast_int:0:0" \
  --variable "input_axis_tlast:0:0" \
  --variable "input_axis_tkeep:7:0" \
  --layer 0 \
  --tag debug_display_1
output -o bug3_step3.v


sv2v \
    --tasksupport --tasksupport-mode=STP \
    --tasksupport-tags=debug_display_1 \
    {% if LOG2_SAMPLE_DEPTH is defined %} --tasksupport-log2depth={{LOG2_SAMPLE_DEPTH}} {% endif %} \
    --arrayboundcheck
{% if SV2V_OUTPUT is defined %}
output --not-retag-synthesis -o {{SV2V_OUTPUT}}
{% else %}
output --not-retag-synthesis -o withtask.v
{% endif %}
