work/
*.fst.hier
*.fst
*.vcd
grayscale_test
grayscale.losscheck.0.v
grayscale.losscheck.1.v
origin_test/gaussian
sources.losscheck-opae.0.txt
sources.losscheck-opae.1.txt
sources.losscheck.0.txt
sources.losscheck.1.txt
work_losscheck_1/
filter.txt
grayscale_test_losscheck
